$main: #7a6daa
$text: #ddd
$text-low: #aaa
$bg: #252132
$bg2: #3c3751
$bg-light: #232323
$bg-dark: #080808
$error: #ff5c5c

$border-radius: 0.5rem
$spacing: 1vmax

$font-header: 2em
$font-big: 1.25em
$font-medium: 1em
$font-small: 0.75em

$shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px
