$main: #b6a3f8
$text: #ddd
$text-low: #aaa
$bg: #3c3652
$bg2: #605881
$bg-light: #363636
$bg-dark: #202020
$error: #ff5c5c

$border-radius: 0.5rem
$spacing: 1vmax

$font-header: 2em
$font-big: 1.25em
$font-medium: 1em
$font-small: 0.75em

$shadow: rgba(0, 0, 0, 0.4) 0px 7px 29px 0px
